@import "/src/assets/css/main/main.scss";

.background {
    background: $gradient_1;
    padding: 3rem 0;

    app-light-card {
        display: block;
        width: 50% !important;
        margin: 0 auto;
    }
}

@media screen and (max-width: 800px) {
    .background app-light-card {
        display: block;
        width: 90% !important;
        margin: 0 auto;
    }
}
