@import "/src/assets/css/main/main.scss";

// content

.content {
    padding: 2rem 0;
    height: 100%;

}

// container

.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}

// links

a {
    font-size: 1rem;
}


// global font styles

h2 {
    font-size: 2.5rem !important;
    line-height: 3rem;
    font-weight: 400 !important;
}

p {
    font-size: 1.5rem !important;
    line-height: 2rem;
}

.main-title h1 {
    color: $mainColor_3;
    font-size: 3rem;
    text-align: center;
}

.title-array-div {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 800px) {

    .content {
        padding: 1rem;
    }

}