@import "/src/assets/css/main/main.scss";

// Carousel dot

.carousel-dot {
    border: solid 2px $secondary_4 !important;
    width: 1rem !important;
    height: 1rem !important;
}

.carousel-dot-active {
    background: $mainColor_1 !important;
}