/* Color pallet */

$mainColor_1: #181818;
$mainColor_2: #eeeeee;
$mainColor_3: #daa520;

$secondary_1: #00000066;
$secondary_2: #292929;
$secondary_3: #00000020;
$secondary_4: #bfbfbf;
$secondary_5: #a98b7b;
$secondary_6: #dfd8d580;