/* Color pallet */

$mainColor_1: #181818;
$mainColor_2: #eeeeee;
$mainColor_3: #daa520;

$secondary_1: #434343;
$secondary_2: #222222;
$secondary_3: #313131;
$secondary_4: #bfbfbf;
$secondary_5: #886921;
$secondary_6: #dfcd96;
$secondary_7: #141414;

$shadow_1 : #00000056;
$shadow_2: #000000bd;

$error: #960000;
$waring: #cf9e20;
$success: #006900;

$gradient_1: linear-gradient(180deg, $secondary_2 0%, $secondary_5 100%);