@import "/src/assets/css/main/main.scss";

// scroll bar

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $secondary_2;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $secondary_1;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $secondary_1;
  }