@import "/src/assets/css/main/main.scss";

.cards-div {
    margin: 5rem 0;
}

.cards-image-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;

    .box-card {
        width: 45%;
    }

    .box-image img {
        max-width: 600px;
    }
}

@media screen and (max-width: 800px) {
    .cards-div {
        margin: 2rem !important;
    }

    .box-image {
        width: 100% !important;
        padding: 2rem;
        display: flex;
        justify-content: center;

        img {
            width: 100%;
        }
    }

    .box-card {
        width: 100% !important;
    }
}

@media screen and (min-width: 1100px) and (max-width: 1250px) {
    .cards-div {
        margin: 2rem !important;
    }

    .box-image img {
        max-width: 500px !important;
    }

}

@media screen and (min-width: 800px) and (max-width: 1100px) {
    .box-image {
        width: 100% !important;
        padding: 2rem;
        display: flex;
        justify-content: center;

        img {
            max-width: 500px;
        }
    }

    .box-card {
        width: 100% !important;
    }

    .cards-div {
        margin: 2rem !important;
    }
    
}