<section>

    <!-- Text and image component -->

    <section class="container">
        <app-text-and-image [fancyTitle]="false" [title]="title" [text]="text" [image]="image"></app-text-and-image>
    </section>

    <!-- Text and image component 2 -->

    <section class="container">
        <app-text-and-image [fancyTitle]="false" [title]="title2" [text]="text2" [image]="image2" [flexDirection]="flexDirection"></app-text-and-image>
    </section>

    <!-- Depositions -->

    <app-depositions></app-depositions>

    <!-- Reservation component -->

    <app-reservation></app-reservation>

</section>
