@import "/src/assets/css/main/main.scss";

.carousel-body {
    width: 100%;
    height: 400px;
}

.carousel-holder {
    max-width: 1200px;
    margin: 0 auto;
    background: #353535;
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-repeat: no-repeat ;
    background-position: center;
    background-size: 100%;
    transition: 0.3s;
}

.selected-badge {
    background: $mainColor_1 !important;
}

.badge-div {
    width: 100%;
    height: 3rem;
    top: 84%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .carousel-badge {
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 1.2rem;
        background: $secondary_4;
        border: solid 1px $mainColor_1;
        cursor: pointer;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

.command-div {
    width: 10%;
    height: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        background: $secondary_3;
        width: 3rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;

        mat-icon {
            font-size: 2rem;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $mainColor_2;
        }
    }
}