@import "/src/assets/css/main/main.scss";

.header-holder {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    background: $mainColor_1;
}

header {
    width: 100%;
    height: 70px;
    background: $mainColor_1;
}

.logo-image {
    width: 70px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pages-router {
    width: 40%;
    height: 100%;
    display: block;

    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        height: 100%;
        margin: 0;
    }

}

.router-lister {
    flex: 1;
    transition: 0.3s;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
        background: $mainColor_2;

        a {
            color: $mainColor_1;
        }
    }
}

a {
    text-decoration: none;
    color: $mainColor_2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu-button {
    display: none;

    mat-icon {
        color: $mainColor_2;
    }
}

/* Media queries responsive website */

@media screen and (max-width: 800px) {
    .pages-router {
        display: none;
    }

    .menu-button {
        display: block;
    }

    .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    img {
        margin: 0 auto;
    }
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
    .pages-router {
        width: 60%;
    }

    .header-holder {
        padding: 0 2rem;
    }
}