@import "/src/assets/css/main/main.scss";

.card-body {
    background-color: $secondary_6;
    border: solid 2px $secondary_5;
    padding: 2rem;
    
    h1 {
        color: $secondary_5;
        font-size: 3rem;
        font-weight: 300;
    }

    mat-divider {
        margin: 2rem 0;
        background-color: $secondary_5;
    }

    p {
        color: $secondary_5;
        font-weight: lighter !important;
    }
}