<section>
    <app-header></app-header>
    <section>
        <app-carousel [images]="carouselImages" [bodyColor]="bodyColor"></app-carousel>
    </section>
    <section class="home-content">
        <section class="container">
            <mat-divider></mat-divider>
            <div class="div-text">
                <div class="box-text">
                    <h1>Espaço La Torre</h1>
                    <p>O La Torre possui um espaço clean, aconchegante, versátil e perfeito para a realização da sua
                        festa
                        ou evento. Oferecemos dois ambientes climatizados que permite personalização conforme o tema da
                        festa. Acomodamos 180 pessoas, sendo 115 no piso inferior e 65 no piso superior.</p>
                </div>
                <div class="box-image">
                    <img src="../../../assets/img/image1.jpeg" alt="site-image">
                </div>
            </div>
            <div class="cards-div cards-image-div">
                <div class="box-image">
                    <img src="../../../assets/img/image2.jpg" alt="">
                </div>
                <div class="box-card">
                    <app-fancy-card [title]="fancyCardTitle" [text]="fancyCardText"></app-fancy-card>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="cards-div light-cards-div">
                <app-light-card *ngFor="let item of lightCardsContent" [title]="item.title" [text]="item.text"
                    [image]="item.src"></app-light-card>
            </div>
            <mat-divider></mat-divider>
        </section>
    </section>
    <section class="reservation-body">
        <section class="container">
            <div>
                <h1>Agende seu evento ou festa conosco!</h1>
            </div>
            <div class="input-div">
                <div class="input-div">
                    <div class="label">
                        <label>Data do evento</label>
                    </div>
                    <div class="input">
                        <input readonly [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </div>
                </div>
            </div>
        </section>
    </section>
</section>