<section>
    <app-header></app-header>
    <section>
        <app-carousel [images]="carouselImages" [bodyColor]="bodyColor"></app-carousel>
    </section>
    <section class="home-content">
        <section class="container">
            <mat-divider></mat-divider>
            <div class="div-text">
                <div class="box-text">
                    <h1>Espaço La Torre</h1>
                    <p>O La Torre possui um espaço clean, aconchegante, versátil e perfeito para a realização da sua festa
                        ou evento. Oferecemos dois ambientes climatizados que permite personalização conforme o tema da
                        festa. Acomodamos 180 pessoas, sendo 115 no piso inferior e 65 no piso superior.</p>
                </div>
                <div class="box-image">
                    <img src="../../../assets/img/image1.jpeg" alt="site-image">
                </div>
            </div>
            <app-fancy-card [title]="fancyCardTitle" [text]="fancyCardText"></app-fancy-card>
        </section>
    </section>
</section>