@import "/src/assets/css/main/main.scss";

// input div

.input-div {
    background: $mainColor_2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 220px !important;
    height: 36px;
    padding: 2px 6px;
    cursor: pointer;
    margin: 1rem;

    label {
        margin: 0 !important;
    }

    input {
        margin: 0 !important;
        outline: none;
        border: none !important;
        cursor: pointer;
        color: $secondary_2 !important;
        background: none;
        height: 90%;
        font-size: 1rem;
        width: 90%;
    }

    .event-hour .mat-select-arrow {
        border: none;
    }

    .mat-icon-button {
        color: $shadow_2;
    }

    mat-select {
        width: 232px !important;
        background: $mainColor_2;

        .mat-select-placeholder {
            color: $shadow_2;
            font-size: 1rem;
        }
    }

    .mat-select-panel {
        width: 232px;
    }
}

// input place holder

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: $shadow_2;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: $shadow_2;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: $shadow_2;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $shadow_2;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $shadow_2;
}

::placeholder {
    /* Most modern browsers support this now. */
    color: $shadow_2;
}